body{
    background-color: beige;
}
.clearfix{
    margin: 0px auto;
    width: 7%;
}
.reg-cabecera{
    background-color: rgb(235, 235, 235);
}
.reg-cabeza-nombre, .logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}
div#id-radio{
    width: 13.4%;
    padding-top: 5px;
    margin: 0px auto;
}
input.input-radio{
    width: 15%;
    display: inline;
}
div.class-boton-radio{
    width: 30%;
    margin: 0px auto;
    text-align: center;
}
.boton-radio{
    background-color: rgba(223, 89, 0, 0.692);
    text-transform: uppercase;
    display: inline-block;
}
input{
    display: block;
    background-color: rgb(235, 235, 235);
    text-decoration: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media(min-width: 768px) {
    .clearfix{
        padding-top: 30px;
    }
    .reg-cabeza-nombre{
        font-size: 20px;
    }
    div#id-radio{
        padding-left: 40px;/*dinamico co javascript*/
    }
    .boton-radio{
        border-radius: 10px;
        margin-top: 20px;
    }
    input{
        margin: 0px auto 10px auto;
        border-radius: 5px;
        width: 400px;
    }
}
@media(max-width: 899.9px) {

}

/*---------- Registro --------------*/
body {
    background: #D1EEFF;
    background: linear-gradient(to right, #e9f4fb, #D1EEFF);
}

.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('../assets/images/pexels-polina.jpg');
    background-size: cover;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.accordion-body{
    max-width: inherit;
}


/*--------------
Foto de Polina Zimmerman en Pexels
--------------------*/

